<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%#= render @menu_presenter unless devise_controller? %>
    <%= render @menu_presenter %>
    <%#= render @menu_presenter.to_partial_path %>
    <%= render 'shared/flash' %>
    <%= yield %>
  </body>
</html>
